/***********************************************

 Urban Planning

***********************************************/

.content { 
    padding:0 0 2em; margin:0; width:100%; height:100%; overflow:hidden;
    background: url("../img/events-mainphoto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/events-mainphoto.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/events-mainphoto.jpg', sizingMethod='scale')";
	background-attachment: initial;
	min-height:400px;
    }
.hero h1 { margin:1em 2em; font-size:2.4em; color:#253a63; }

article.main { background:transparent; }


/**** Event Listings Table ****/

#listings_wrapper { padding:1em 0; }

#listings_filter label { padding-right:1em;}
#listings_filter label input { color:#333; font-weight:normal; border-radius:0.4em; border:solid 2px #3b62b0; text-indent:5px; }

table#listings tbody tr { background:rgba(255,255,255,0.9)!important; }
table#listings tbody tr.even { background:rgba(245,245,245,0.9)!important; }
table#listings tbody tr:hover { background:rgba(235,235,235,0.9)!important; }
table#listings tbody td { background:transparent!important; min-height:5em; }
table#listings tbody td.logocol { background:#fff!important; }

table#listings { position:relative; top:1em; }
table#listings thead { color:#fff; background:#3b62b0; }
table#listings td.logocol { padding:1em; text-align:center; }
table#listings img.eventlogo { max-width: 140px; max-height:140px; }

table#listings .infocol { position:relative; padding-right:200px; }
table#listings .eventname { font-size:1.2em; font-weight:bold;}
table#listings .btn-agenda, table#listings .btn-spex { margin-right:10px; display:block; position:absolute; right:0; top:1em; }
table#listings .btn-spex { top:4em; }

/***********************************************

 Media: Y U SO QUERULOUS??

***********************************************/

@media only screen and (max-width : 768px) {
    table#listings img.eventlogo { max-width: 100px; max-height:100px; }
    table#listings tbody td { font-size:0.9em; }
}

@media only screen and (max-width : 992px) {
    table#listings td.infocol { padding-right:100px; }
}