.palette .col-xs-6 pre { width:90%; height:auto; margin:0 auto; }
.palette .bb pre { background:#3b62b0; }
.palette .db pre { background:#253a63; }
.palette .og pre { background:#f0942d; }
.palette .po pre { background:#f7c996; }
.palette .sg pre { background:#8490a7; }
.palette .pg pre { background:#c8ced8; }