/* Home */
.home .hero { background-position:center top; }
.home .hero h1 { margin-top:2em; }
.home article.main { margin-top:400px; }
.homequotes .media-left { width:120px; }

/* Events */
.events h1 { color:#253a63; } 
.events .filters { background: #fff; }
.events table#listings td.logocol { max-width:150px !important; }
.events table#listings img.eventlogo { width:140px !important; }

/* About */
.about .hero { background:#253a63; }
.about article.main { margin-top:100px; }