/* Site */
.mainnav { position:absolute; overflow:visible; left:0; }

/* Home */
.hero { background-position:center top; }
.hero h1 { margin-top:2em; }
article.main { margin-top:400px; }
.homequotes .media-left { width:120px; }
