/***********************************************

 Aesthetic Training Program

    --- WBR Palette ---
    Bright Blue:    #3b62b0 rgba(59,98,176,1)
    Dark Blue:      #253a63 rgba(37,58,99,1)
    Orange:         #f0942d rgba(240,148,45,1)
    Pale Orange:    #f7c996 rgba(247,201,150,1)
    Storm Grey:     #8490a7 rgba(132,144,167,1)
    Pale Grey:      #c8ced8 rgba(200,206,216,1)

***********************************************/

h1 { font:normal 3em 'latoregular'; }
h2, h3, h4, h5, h6 { font:normal 1.25em 'latoregular'; color:#253a63; }
h2 { font-size:1.5em; }
h4 { color:#8490a7; font-weight:bold; }
h6 { color:#444; }
 
a { color:#3b62b0; transition: 100ms linear; }
a:hover { color:#253a63; }
.btn { transition: 100ms linear; color:#fff; text-shadow: 0 0 1em rgba(50,30,0,0.7); }
.btn-blue { background-color:#3b62b0; border-radius:0; }
.btn-dk { background-color:#253a63; border-radius:0; }
.btn-blue:hover, .btn-blue:active, .btn-dk:hover, .btn-blue:active { background-color:#f0942d; color:#fff; }
.btn-orange { background-color:#f0942d; border-radius:0; padding:.8em 1em; }
.btn-orange:hover, .btn-orange:active { background-color:#3b62b0; color:#fff; }

nav a { transition: 100ms linear; font-family:'latoregular'; letter-spacing:.05em; }

header { background:#253a63; color:#fff; }
header a, footer a { color:#fff; }
header h1 { font-size:1.5em; float:left; }

/* Gutenbergian Styles */
@media print {
    body { width:100% !important; padding:0 5pt!important; color: #000 !important; background: #fff !important; line-height: 1.4; word-spacing:1.1pt; letter-spacing:0.2pt; }
	h1 { font-size:28pt !important; position:static !important; text-align:center !important; width:100% !important; margin:1em 0 !important; padding:0 !important; }
    nav, img, .btnrow, .nav { display:none !important; }
    .hero, .homeabout { height:auto !important; position:static !important; }
    article.main { margin-top:0 !important; position:static !important; font-size:14pt; font-family:Georgia, serif; }
    .container-fluid .container { width:90% !important; margin:0 auto !important; position:static !important; }
    a:after { content: "" !important; }
    a { font-weight: bold !important; text-decoration: none; border-bottom:dotted 2pt black !important; }
    a.btn { background:none !important; display:inline !important; padding:0 !important;  font-family:Georgia, serif;}
    section { padding:1em 0 !important; }
    h2, h3, h4 { page-break-after: avoid; }
    ul, img { page-break-inside: avoid; }
    blockquote { border:none; border-left:solid 4pt black !important;  font-family:Georgia, serif;}
    cite { font-size:0.8em; padding-left:2em; }
    .media .pull-right { float:none!important; }
    .col-sm-4 { width:100%; }
}